{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="appl_status"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="schoamt_distype"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="schocount_distype"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="mentalamt_byyr"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="locoamt_byyr"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="dndamt_byyr"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="visionamt_byyr"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="mentalnum_byyr"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="loconum_byyr"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="dndnum_byyr"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="visionnum_byyr"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        function draw(){  
            var ctx = document.getElementById("appl_status").getContext("2d");  
            var img = new Image();
            img.onload = function(){ctx.drawImage(img,0,0);};
            img.src = "appl_status.png";    
        }
        function draw(){  
            var ctx = document.getElementById("schoamt_distype").getContext("2d");  
            var img = new Image();
            img.onload = function(){ctx.drawImage(img,0,0);};
            img.src = "schoamt_distype.png";    
        }
        function draw(){  
            var ctx = document.getElementById("schocount_distype").getContext("2d");  
            var img = new Image();
            img.onload = function(){ctx.drawImage(img,0,0);};
            img.src = "schocount_distype.png";    
        }
        function draw(){  
            var ctx = document.getElementById("mentalamt_byyr").getContext("2d");  
            var img = new Image();
            img.onload = function(){ctx.drawImage(img,0,0);};
            img.src = "mentalamt_byyr.png";    
        }
        function draw(){  
            var ctx = document.getElementById("locoamt_byyr").getContext("2d");  
            var img = new Image();
            img.onload = function(){ctx.drawImage(img,0,0);};
            img.src = "locoamt_byyr.png";    
        }
        function draw(){  
            var ctx = document.getElementById("dndamt_byyr").getContext("2d");  
            var img = new Image();
            img.onload = function(){ctx.drawImage(img,0,0);};
            img.src = "dndamt_byyr.png";    
        }
        function draw(){  
            var ctx = document.getElementById("visionamt_byyr").getContext("2d");  
            var img = new Image();
            img.onload = function(){ctx.drawImage(img,0,0);};
            img.src = "visionamt_byyr.png";    
        }
        function draw(){  
            var ctx = document.getElementById("mentalnum_byyr").getContext("2d");  
            var img = new Image();
            img.onload = function(){ctx.drawImage(img,0,0);};
            img.src = "mentalnum_byyr.png";    
        }
        function draw(){  
            var ctx = document.getElementById("loconum_byyr").getContext("2d");  
            var img = new Image();
            img.onload = function(){ctx.drawImage(img,0,0);};
            img.src = "loconum_byyr.png";    
        }
        function draw(){  
            var ctx = document.getElementById("dndnum_byyr").getContext("2d");  
            var img = new Image();
            img.onload = function(){ctx.drawImage(img,0,0);};
            img.src = "dndnum_byyr.png";    
        }
        function draw(){  
            var ctx = document.getElementById("visionnum_byyr").getContext("2d");  
            var img = new Image();
            img.onload = function(){ctx.drawImage(img,0,0);};
            img.src = "visionnum_byyr.png";    
        }
    
    </script>
{% endblock javascripts %}
